<template name="flux">
  <hr>

  <ul>
    {{#each transcriptions}}

      {{#if typeIs "image" (type)}}
        {{> blocImage}}
      {{/if}}

      {{#if typeIs "text" (type)}}
        {{> blocText}}
      {{/if}}

      {{#if typeIs "dessin" (type)}}
        {{> blocDessin}}
      {{/if}}

    {{/each}}
  </ul>
</template>

<template name="blocText">
<li>
  <p>Transcription :
  </p>
  <p class="date">timeline >
    {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <p class="text">texte >
    {{{text}}}</p>
  <p class="text">nom >
    {{nom}}</p>
  <p class="text">sujet >
    {{sujet}}</p>
</li>
<hr>
</template>

<template name="blocImage">
<li>
  <p>Image :
  </p>
  <p class="date">timeline >
    {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <img class="imageBloc" src="{{lien}}">
  <p>texte > {{texte}}</p>
</li>
<hr>
</template>

<template name="blocDessin">
<li>
  <p>Image :
  </p>
  <p class="date">timeline >
    {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <img class="imageBloc" src="{{url}}">
</li>
<hr>
</template>
