<template name="flux">
  <div id="flux">
    {{#if selectedChapitre}}
      <h1>[{{selectedChapitre.titre}}]</h1>
      {{> addNote _id=selectedChapitre._id parent_id=selectedChapitre._id}}
      <div class="box">
      {{#each selectedChapitre.notes}}
        {{> render}}
      {{/each}}
      </div>
    {{else}}
      <h1>Sélectionnez un chapitre...</h1>
    {{/if}}

  </div>
</template>

<template name="note_default">
<h1>{{titre}}</h1>
<h6>Default render</h6>
  {{> my_notes}}
</template>




<template name="note_image">
<h1>{{titre}}</h1>
<h6>Image render</h6>
  {{> my_notes}}
</template>





<template name="note_text">
  <div class="note texte">
    {{#markdown}}{{content}}{{/markdown}}
  </div>
  {{> my_notes}}
  {{> addNote _id=_id parent_id=_id}}
</template>


<template name="my_notes">
  <div class="box">
    <ul>
    {{#each notes}}
    <li>{{> render}}</li>
    {{/each}}
    </ul>
  </div>
</template>

<template name="blocText">
<li>
  <p>Transcription :
  </p>
  <p class="date">timeline >
    {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <p class="text">texte >
    {{#markdown}} {{text}} {{/markdown}}
  </p>
  <p class="text">nom >
    {{nom}}</p>
  <p class="text">sujet >
    {{sujet}}</p>
  <p class="text">pseudo >
    {{pseudo}}</p>
  <p class="text">tag >
    {{tag}}</p>
</li>
<hr>
</template>

<template name="blocImage">
<li>
  <p>Image : </p>
  <p class="date">timeline > {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <img class="imageBloc" src="{{url}}">
  <p>texte >
  {{#markdown}} {{text}} {{/markdown}}</p>
</li>
  {{> my_notes}}
  {{> addNote _id=_id parent_id=_id}}
<hr>
</template>

<template name="blocDessin">
<li>
  <p>Image :
  </p>
  <p class="date">timeline >
    {{uToHours (date)}}:{{uToMinutes (date)}}</p>
  <img class="imageBloc" src="{{url}}">
</li>
<hr>
</template>
