<template name="metasAutocomplete">

  <div class="metaAuto">
  <div class="container">

  <div class="element">
  {{> formMetasAutocomplete}}
  </div>

  <div class="element">
  {{> AffichageMetasAutocomplete}}
  </div>
  </div>
  </div>
</template>

<template name="formMetasAutocomplete">
  <!--<form id="participants">
    <input type="text" name="participants" value="participants">
    <input type="submit" value="envoi">
  </form>

  <form id="subjects">
    <input type="text" name="subjects" value="subjects">
    <input type="submit" value="envoi">
  </form>-->

  <form id="keywords">
    <input type="text" name="keywords" value="keywords">
    <button type="submit" value="envoi">envoi</button>
  </form>
</template>

<template name="AffichageMetasAutocomplete">
  <!--<ul class="metasAuto">
    <p>Participants</p>
    {{#each metas}}
      <li>{{participants}}</li>
    {{/each}}
  </ul>
  <ul class="metasAuto">
    <p>Sujets</p>
    {{#each metas}}
      <li>{{subjects}}</li>
    {{/each}}
  </ul>-->
  <ol class="metasAuto">
    <p>Mot-clés</p>
    {{#each metas}}
      <li>{{keywords}}</li>
    {{/each}}
  </ol>
</template>
