<!--
    Add note system
-->
<template name="noteToolBar">
  <div class="toolBar">

    <button class="event_showFormToAddNewNote" data-menu="all_{{_id}}">Ajouter une note</button>
    {{#if isAdmin}}
    <button style="float:right" class="event_removeNote">Supprimer</button>
      {{#if isNote}}
        <button style="float:right" data-menu="all_{{_id}}" data-edit="true" class="event_showFormToEditNote">Éditer</button>
      {{/if}}
    {{/if}}
    <!--
          <ul>
            <li class="event_showFormToAddNewNote" data-menu="all_{{_id}}">+</li>
            <li style="float:right" class="event_removeNote">[X]</li>
            <li style="float:right" data-menu="all_{{_id}}" data-edit="true" class="event_showFormToEditNote">[E]</li>
          </ul>
          -->

    {{> addAll}}
  </div>
</template>

<template name="addAll">
  <div id="all_{{_id}}" class="action addAll">
    <div class="container-ajoutnote">
      <div class="element">
        {{> formMeta }}
        {{> addTexte}}
      </div>
      <div class="element">
      <!--{{> formMeta }}-->
      {{> addImage}}
      </div>

    </div>
  </div>

</template>

<template name="formMeta">
  <div class="item">
    <form id="form_meta_{{_id}}">
      <!--<div class="form-group">
        <label for="">intervenants</label>
        <input type="text" value="{{meta.participants}}" name="participants" class="form-control" placeholder="ajouter les noms des intervenants">
      </div>
      <div class="form-group">
        <label for="">sujets</label>
        <input name="subjects" value="{{meta.subjects}}" type="text" class="form-control" placeholder="ajouter les sujets discutés">
      </div>-->
      <div class="form-group">
        <!--<h4>Ajouter des mots-clés</h4>-->
        <input name="keywords" type="text" value="{{meta.keywords}}" placeholder="ajouter des mots-clés">
      </div>
    </form>
  </div>
</template>
