<!--
    Add note system
-->
<template name="noteToolBar">
        <div class="toolBar">
          <ul>
            <li class="event_showFormToAddNewNote" data-menu="all_{{_id}}">+</li>
            <li style="float:right" class="event_removeNote">[X]</li>
            <li style="float:right" data-menu="all_{{_id}}" data-edit="true" class="event_showFormToEditNote">[E]</li>
          </ul>
        {{> addAll}}
        </div>
</template>

<template name="addAll">
  <div id="all_{{_id}}" class="action addAll">
    <div class="container">
      {{> formMeta }}
      {{> addTexte}}
      {{> addImage}}
    </div>
  </div>

</template>

<template name="formMeta">
  <div class="item">
    <form id="form_meta_{{_id}}">
      <p>metadonnées</p>
      <div class="form-group">
        <label for="">intervenants</label>
        <input type="text" name="participants" class="form-control" placeholder="ajouter les noms des intervenants">
      </div>
      <div class="form-group">
        <label for="">sujets</label>
        <input name="subjects" type="text" class="form-control" placeholder="ajouter les sujets discutés">
      </div>
      <div class="form-group">
        <label for="">mots-clés</label>
        <input name="keywords" type="text" class="form-control" placeholder="ajouter des mots-clés">
      </div>
    </form>
  </div>
</template>
