<template name="moderation">

  <ul>
    {{#each transcriptions}}

      {{#if typeIs "image" (type)}}
        {{> render_image}}
      {{/if}}

      {{#if typeIs "text" (type)}}
        {{> render_text}}

      {{/if}}

      {{#if typeIs "dessin" (type)}}
        {{> render_dessin}}

      {{/if}}

      <!--{{/if}}-->

    {{/each}}
  </ul>

</template>

<template name="render_image">
  <li>

    <button data_id="{{_id}}" class="delete-image">&times;</button>
    <br><br>
    <img class="imageBloc" src="{{lien}}">
    <p>{{#markdown}} {{text}} {{/markdown}}</p>
  </li>
  <hr>
</template>

<template name="render_dessin">
  <li>

    <button data_id="{{_id}}" class="delete-dessin">&times;</button>
    <img class="imageBloc" src="{{url}}">
  </li>
  <hr>
</template>

<template name="render_text">

  {{#if editingTranscription}}
    {{> edit_text}}
  {{else}}
    {{> display_text}}
  {{/if}}
</template>

<template name="display_text">

<li>

  <button data_id="{{_id}}" class="delete-transcription">&times;</button>
  <button data_id="{{_id}}" class="edit-transcription">&#33;</button>
  <p class="text">{{text}}</p>
</li>
<hr>
</template>

<template name="edit_text">
<!--<input class="new-text" type="text" value="{{text}}" />-->
<textarea class="new-text" rows="8" cols="80" value="{{text}}"></textarea>

<button class="update-text">Valider</button>
<a href="#" class="annuler-edition">Annuler</a>
</template>
