<template name="moderation">

    <ul>
    {{#each transcription}}

    <!--{{# if editingTranscription}}

    <div class="form-group">
        <form class="new-transcription">
          <input type="text" value="{{text}}">
          <input type="submit" value="Update" id="updateTranscription">
        </form>
    </div>

    {{else}}-->

        {{#if typeIs "image" (type)}}
        <li>
          <p>IMAGE > </p>
          <button class="delete-image">&times;</button>
          <p class="date">{{uToHours (date)}}:{{uToMinutes (date)}}</p>
          <img class="imageBloc" src="{{lien}}">
        </li>
        <hr>
        {{/if}}

        {{#if typeIs "text" (type)}}
        <li>
          <p>TEXTE > </p>
          <button class="delete-transcription">&times;</button>
          <button class="edit-transcription">&#33;</button>
          <p class="date">{{uToHours (date)}}:{{uToMinutes (date)}}</p>
          <span class="text">{{text}}</span>
        </li>
        <hr>
        {{/if}}


    <!--{{/if}}-->
    
    {{/each}}
  </ul>

</template>
