.toolBar {
  //background-color: orange;
  border:1px solid grey;
  width: 300px;
}

.toolBar > ul {
  margin:0;
  padding:0;
}
.toolBar > ul>li {
  display:inline-block;
  height:30px;
  line-height:30px;
  font-size:20px;
  text-align:center;
  margin-right:5px;
  margin-left:5px;
  width:30px;
}
.toolBar > ul>li:hover {
  background-color: black;
  color:white;
  cursor:pointer;
}

.box {
  padding:5px;
  margin-top:20px;
}


.box:hover {
  border: 2px solid grey;
}

.box>ul {
  margin:0;
  padding:0;
  margin-left:10px; 
}
.addTexte {
  display: none;
}
.addImage {
  display: none;
}

.addAll{
  display:none;
}


.note {
  min-height: 20px;
}
