@import 'main';


#chapitresBar {
  display:flex;
  width:80%;
  //border: solid 1px black;
  flex-direction: column;

  h3 {
    font-size:$size2;
  }

  .element {
  border-bottom: solid 2px $color2;
  padding:20px;
  background-color:$color3;

  .chapDiv {

    &:hover {
      //background-color:$color;
      color:$color4;
      cursor:pointer;
    }

  }

    input {
      width:100%;
      background-color: $color3;
      border: solid 2px $color;
      padding:5px;
      color:$color;

      &:focus {
        border: solid 2px $color2;
        //background-color:$color6;
        outline: none;
      }
    }

  }

}
