@import 'main';

#chapitres {
  display:flex;
  width:100%;
  //border: solid 1px black;
  flex-direction: column;
  align-items: left;
  margin-top: 5%;
  //background-color: $color;
  margin-left: 2%;
  margin-right: 2%;
}




#chapitresBar {
  display:flex;
  width:80%;
  //border: solid 1px black;
  flex-direction: column;
  background-color: $color;

  h3 {
    font-size:$size2+1;
  }

  .element {
  border-bottom: solid 2px $color2;
  padding:20px;
  background-color:$color3;
  //font-family:$font;
  width: 100%;

  .chapDiv {

    &:hover {
      //background-color:$color;
      color:$color4;
      cursor:pointer;
    }

  }

    input {
      width:100%;
      background-color: $color3;
      border: solid 2px $color;
      padding:5px;
      color:$color;

      &:focus {
        border: solid 2px $color2;
        //background-color:$color6;
        outline: none;
      }
    }

  }

}
