@import 'main';




#flux {
  display: flex;
  flex-direction: column;
  //background-color:red;
  align-items: left;
  margin-top: 5%;
  padding-bottom: 100px;
  margin-left: 2%;
  margin-right: 2%;

  .ajouter {
  font-family: $font;
  font-size: $size2;
  color:$color;
}

  .date {
    border-bottom: solid 2px $color;
    font-size: $size;
    font-weight: bold;
    color: $color;
    //font-family: $font2;
    letter-spacing: 0.1rem;

    &:before {
      font-size: $size+0.3;
      color: $color2;
      content: '◷ ';
    }
  }

  .meta {
    float: right;
    //font-family: $font2;
    //font-style:italic;
    &:before {
      font-size: $size+0.3;
      color: $color2;
      content: '● ';
    }
  }

  .note {
    font-family: $font;
    font-size: $size3+0.2;
    color: $color5;
    min-height: 200px;
    padding-left:50px;
  }

  button {
    //border: none;
    //color: $color;
    //font-size: $size;
    display: inline-block;
    text-align: center;
    border-radius: 0;
  }

  .event_showFormToAddNewNote {
    color: $color3;
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: $color9;
    float: right;

    &:before {
      font-family: fontAwesome;
      content: " \f075\00a0";
    }

    &:hover {
      background-color: $color3;
      color: $color;
      border: solid 1px $color;
    }
  }

  .event_removeNote {
    color: $color3;
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: $color2;
    float: right;

    &:before {
      font-family: fontAwesome;
      content: " \f00d\00a0";
    }

    &:hover {
      background-color: $color3;
      color: $color2;
      border: solid 1px $color2;
    }
  }

  .event_showFormToEditNote {
    color: $color3;
    border: none;
    padding: 5px;
    margin: 5px;
    background-color: $color4;
    float: right;

    &:before {
      font-family: fontAwesome;
      content: " \f040\00a0";
    }

    &:hover {
      background-color: $color3;
      color: $color4;
      border: solid 1px $color4;
    }
  }

  .btnNotePrincipale {
    margin-top: 10px;
    //border-bottom: solid 1px $color2;
    //background-color:$color;
    font-size:$size3;
    //text-align: center;
  }

  .btnNoteSecondaire {
    margin-top: 20px;
    border-top: dotted 1px $color;
    font-size: $size;
  }

  ol {
    border-left: solid 2px $color2;
    width: 95%;
    //padding:20px;
    list-style-type: decimal-leading-zero;
    //font-weight: bold;
    color: $color;

    li {
      //padding: 10px;
      //margin:2%;

      .note {

        h1 {
          font-size:$size2+1.3;

        }

        h2 {
          font-size:$size2+0.8;
        }

        h3 {
          font-size:$size2+0.5;
        }

        hr {
          border-top: 1px solid $color;
        }

        p {
          width: 70%;
          font-size: $size2;
          line-height:$size+1.2;
          //margin-top: 30px;

          img {
            width:40%;
            //margin-left:auto;
            //margin-right:auto;
          }

        }

        ul {
          list-style:disc;
          li {
            //line-height:30%;
            font-size: $size2;
          }
        }

        ol {
          list-style:lower-latin;
          border:none;
          color:$color5;
          li {
            //line-height:30%;
            font-size: $size2;
          }
        }

        blockquote {
          margin-left:10%;
          border-left:dotted 2px $color;
          margin-top: 10px;
          line-height:80%;
        }

        a {
          color:$color;
          text-decoration:underline;
          &:hover {
            color:$color2;
          }
        }



      }

      .legende {
        font-family: $font2;
        font-style:italic;
        font-size: $size+0.2;
        padding-left: 5px;

        &:before {
          font-size: $size;
          //padding-left:5px;
          color: $color2;
          content: '► ';
        }
      }

      .imageBloc {
        width: 60%;
        padding-left: 10px;
        padding-bottom: 10px;
        //padding: 5px;
      }
    }
  }
}
