@font-face {
    font-family: 'Anarchy Normal';
    src: url('fonts/Anarchy-ItalicNormal.eot');
    src: url('fonts/Anarchy-ItalicNormal.eot?#iefix') format('embedded-opentype'),
        url('fonts/Anarchy-ItalicNormal.woff') format('woff'),
        url('fonts/Anarchy-ItalicNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Anarchy Book';
    src: url('/fonts/anarchy/Anarchy-Book.eot');
    src: url('/fonts/anarchy/Anarchy-Book.eot?#iefix') format('embedded-opentype'),
        url('/fonts/anarchy/Anarchy-Book.woff') format('woff'),
        url('/fonts/anarchy/Anarchy-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anarchy Normal';
    src: url('/fonts/anarchy/Anarchy-Normal.eot');
    src: url('/fonts/anarchy/Anarchy-Normal.eot?#iefix') format('embedded-opentype'),
        url('/fonts/anarchy/Anarchy-Normal.woff') format('woff'),
        url('/fonts/anarchy/Anarchy-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anarchy Book';
    src: url('/fonts/anarchy/Anarchy-BookItalic.eot');
    src: url('/fonts/anarchy/Anarchy-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/anarchy/Anarchy-BookItalic.woff') format('woff'),
        url('/fonts/anarchy/Anarchy-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/concrete/cmunorm.eot');
	src: url('/fonts/concrete/cmunorm.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/concrete/cmunorm.woff') format('woff'),
		 url('/fonts/concrete/cmunorm.ttf') format('truetype'),
		 url('/fonts/concrete/cmunorm.svg#cmunorm') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/concrete/cmunobx.eot');
	src: url('/fonts/concrete/cmunobx.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/concrete/cmunobx.woff') format('woff'),
		 url('/fonts/concrete/cmunobx.ttf') format('truetype'),
		 url('/fonts/concrete/cmunobx.svg#cmunobx') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('cmunoti.eot');
	src: url('/fonts/concrete/cmunoti.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/concrete/cmunoti.woff') format('woff'),
		 url('/fonts/concrete/cmunoti.ttf') format('truetype'),
		 url('/fonts/concrete/cmunoti.svg#cmunoti') format('svg');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Computer Modern Concrete';
	src: url('/fonts/concrete/cmunobi.eot');
	src: url('/fonts/concrete/cmunobi.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/concrete/cmunobi.woff') format('woff'),
		 url('/fonts/concrete/cmunobi.ttf') format('truetype'),
		 url('/fonts/concrete/cmunobi.svg#cmunobi') format('svg');
	font-weight: bold;
	font-style: italic;
}
