@import "main";

body {

  .projection {
    //border: 1px solid green;
    #flux {

      .ajouter {
        display: none;
      }

      .btnNotePrincipale {
        display:none;
      }

      .btnNoteSecondaire {
        display:none;
      }
      ol {
        li {
          .note {
            h1 {
              font-size:$size2+3.3;

            }

            h2 {
              font-size:$size2+3.8;
            }

            h3 {
              font-size:$size2+3.5;
            }

            hr {
              border-top: 1px solid $color;
            }

            p {
              width: 90%;
              font-size: $size2+2.5;
              line-height:$size+3.7;
              //margin-top: 30px;

              img {
                width:40%;
                //margin-left:auto;
                //margin-right:auto;
              }

            }

            ul {
              list-style:disc;
              li {
                //line-height:30%;
                font-size: $size2+3;
              }
            }

            ol {
              list-style:lower-latin;
              border:none;
              color:$color5;
              li {
                //line-height:30%;
                font-size: $size2+3;
              }
            }

            blockquote {
              margin-left:10%;
              border-left:dotted 2px $color;
              margin-top: 10px;
              line-height:80%;
            }

            a {
              color:$color;
              text-decoration:underline;
              &:hover {
                color:$color2;
              }
            }
          }
        }
      }


    }

  }

  /*.toolbar {
    display:none;
  }

  .navbar {
    display:none;
  }

  .footer {
    display:none;
  }*/

}
