<template name="flux">

<div id="flux">

  {{#if selectedChapitre}}
    {{#with selectedChapitre}}

      <h1>chapitre en cours d'édition : {{selectedChapitre.titre}}</h1>
      <hr>
    chapitre {{> noteToolBar}}

      {{#if hasNotes}}
          {{> my_notes}}
      {{else}}
        <h1>Ajoutez des notes...</h1>
      {{/if}}
    {{/with}}
  {{else}}
    <h1>Sélectionnez un chapitre...</h1>
  {{/if}}

</div>
</template>


<template name="my_notes">
  {{#if hasNotes}}
    <ol>
    {{#each notes}}

    <li>{{> render}}</li>

    commentaire {{> noteToolBar }}
    {{/each}}
  </ol>
  {{/if}}
</template>
