<template name="flux">

<div id="flux">

  {{#if selectedChapitre}}
    {{#with selectedChapitre}}
      {{> noteToolBar}}
      <!--<h3>En cours d'édition : {{selectedChapitre.titre}}</h3>-->


      {{#if hasNotes}}
          {{> my_notes}}
      {{else}}
        <h3>Ajoutez des notes...</h3>
      {{/if}}
    {{/with}}
  {{else}}
    <h3>Sélectionnez un chapitre...</h3>
    {{> chapitresBar}}

  {{/if}}

</div>
</template>


<template name="my_notes">

  {{#if hasNotes}}
    <ol>
    {{#each notes}}

    <li>{{> render}}</li>

    {{> noteToolBar }}

    {{/each}}
  </ol>
  {{/if}}
</template>
