<template name="flux">
<div id="flux">
  {{#if selectedChapitre}}
    {{#with selectedChapitre}}
      <h1>[{{selectedChapitre.titre}}]</h1>
      {{> noteToolBar}}
      {{#if hasNotes}}
          {{> my_notes}}
          <hr />
      {{else}}
        <h1>Ajoutez des notes...</h1> 
      {{/if}}
    {{/with}}
  {{else}}
    <h1>Sélectionnez un chapitre...</h1>
  {{/if}}

</div>
</template>





<template name="my_notes">
  {{#if hasNotes}}
    <ul>
    {{#each notes}}
    <li> {{> noteToolBar }}</li>
    <li>{{> render}}</li>
    {{/each}}
    </ul>
  {{/if}}
</template>
