<template name="addAll">
  <div id="all_{{_id}}" class="action addAll">

    <div class="container">

      {{> formMeta }}

      {{> formImage }}

      {{> formTexte }}

    </div>
  </div>

</template>

<template name="formMeta">
  <div class="item">
    <form>
      <p>metadonnées</p>
      <div class="form-group">
        <label for="">intervenants</label>
        <input type="text" class="form-control" name="intervenants" placeholder="ajouter les noms des intervenants">
      </div>
      <div class="form-group">
        <label for="">sujets</label>
        <input type="text" class="form-control" placeholder="ajouter les sujets discutés">
      </div>
      <div class="form-group">
        <label for="">mots-clés</label>
        <input type="text" class="form-control" placeholder="ajouter des mots-clés">
      </div>

    </form>
  </div>

</template>

<template name="formImage">

  <div class="item">

    <p>image</p>

    {{#with currentUpload}}
      Uploading
      <b>{{file.name}}</b>:
      <span id="progress">{{progress.get}}%</span>
    {{else}}

      <form name="form_{{_id}}">
        <label>charger l'image</label>
        <input type="file" id="fileInput" class="form-control-file">
        {{#if parent_id}}
          <input type="hidden" name="parent_id" value={{parent_id}}>
        {{else}}
          <input type="hidden" name="parent_id" value={{selectedChapitre._id}}>
        {{/if}}
        <br>
        <label>légende de l'image</label>
        <textarea class="form-control" id="textImage" rows="2"></textarea>
        <br>
        <button type="submit" id="validerImage" class="btn btn-primary">envoie</button>
      </form>
    {{/with}}
  </div>

</template>

<template name="formTexte">
  <div class="item">
    <p>texte</p>
    <form name="form_{{_id}}">
      <label for="">ajouter votre texte</label>
      <textarea class="form-control" name="content" rows="2"></textarea>
      <br>
      {{#if parent_id}}
      <input type="hidden" name="parent_id" value={{parent_id}}>
      {{else}}
      <input type="hidden" name="parent_id" value={{selectedChapitre._id}}>
      {{/if}}
      <input type="hidden" name="type" value="text">
      <button type="submit" id="addTexteNoteButton" class="btn btn-primary">envoie</button>
    </form>
  </div>
</template>
