#chapitresBar{
    /*position: absolute;*/
    background-color: rgb(230, 230, 230);

    top: 50px;
    width: 50%;
    height: calc( 100% - 100px );

    padding: 4px;
}

.chapDiv{
    margin: 0px;
    padding: 0px;

    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;

    border-color: rgba(0, 0, 0,0.3);
    border-width: 1px;
    border-style: solid;

    height: 100px;

    cursor: pointer;
}

.chapDiv h1{
    font-size: 20px;
    line-height: 20px;
    margin: 4px;
}


.chapDiv:hover{
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(0, 255, 0);
}

.selectedChap{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

.chapDiv p{
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
}

#addChapitre{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: thin;
}
