<template name="uploadImages">

  {{#with currentUpload}}
    Téléchargement <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
  <form name="form_{{_id}}">
      <h4>IMAGE</h4>
      <input id="fileInput" type="file"/>
      {{#if editing _id}}
      <h4>ou</h4>
      <input id="linkinput" type="text" placeholder="Entrez l'URL de votre image" value="{{url}}" />
      <h4>et</h4>
      <textarea name="legend" class="textImage" rows="4" cols="20" placeholder="Ajoutez une légende">{{legend}}</textarea>
      {{else}}
      <h4>ou</h4>
      <input id="linkinput" type="text" placeholder="Entrez l'URL de votre image" />
      <h4>et</h4>
      <textarea name="legend" class="textImage" rows="4" cols="20" placeholder="Ajoutez une légende"></textarea>
      {{/if}}
      <button type="submit" id="validerImage" value="Valider l'image">Valider l'image</button>
  </form>
  {{/with}}

</template>

<template name="addImage">
  <div id="image_{{_id}}" class="item">
    {{> uploadImages}}
  </div>
</template>


<template name="blocImage">
  {{> note_tools}}
  {{#if editing _id}}
    <div class="container-modifImage">
      <div class="item">
        {{> formMeta}}
        {{> uploadImages}}
        <button class="event_cancelEditNote">Annuler</button>
      </div>
    </div>
  {{else}}

      {{> date date=createdAt}}
      <p class="meta"><span>{{meta.keywords}}</span></p>
      <img class="imageBloc" src="{{url}}">
      <p class=legende>{{legend}}</p>

      {{> my_notes}}

  {{/if}}

</template>
