<template name="uploadImages">
  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
  <form name="form_{{_id}}">
      <input id="fileInput" type="file" />
      <p><small>Upload file in <code>jpeg</code> or <code>png</code> format, with size less or equal to 10MB</small></p>
      <textarea name="legend" class="textImage" rows="2" cols="30" placeholder="commenter l'image"></textarea>
        <input type="hidden" name="parent_id" value={{_id}}>
        <input type="submit" id="validerImage" value="envoyer l'image">
  </form>
  {{/with}}
</template>




<template name="addImage">
  <div id="image_{{_id}}" class="item">
    {{> uploadImages}}
  </div>
</template>


<template name="blocImage">
  <div class="box">
    {{> date date=createdAt}}
    <img class="imageBloc" src="{{url}}">
    <legend>{{#markdown}} {{legend}} {{/markdown}}</legend>
    {{> my_notes}}
  </div>
</template>
