<template name="uploadImages">

  {{#with currentUpload}}
    Uploading <b>{{file.name}}</b>:
    <span id="progress">{{progress.get}}%</span>
  {{else}}
  <form name="form_{{_id}}">
      <h4>Ajouter une image</h4>
      <input id="fileInput" type="file" />
      <h4>ou ajouter l'url d'une image</h4>
      <input id="linkinput" type="text" placeholder="url" />
      {{#if editing _id}}
      <h4>Ajouter une légende</h4>
      <textarea name="legend" class="textImage" placeholder="commenter l'image">{{legend}}</textarea>
      {{else}}
      <h4>Ajouter une légende</h4>
      <textarea name="legend" class="textImage" placeholder="commenter l'image"></textarea>
      {{/if}}
      <button type="submit" id="validerImage" value="Valider l'image">Valider l'image</button>
  </form>
  {{/with}}

</template>

<template name="addImage">
  <div id="image_{{_id}}" class="item">
    {{> uploadImages}}
  </div>
</template>


<template name="blocImage">

  {{#if editing _id}}
    <div class="container-modifImage">
    {{> formMeta}}
    <div class="item">
    {{> uploadImages}}
     <button class="event_cancelEditNote">Annuler</button>
     </div>
    </div>
  {{else}}

      {{> date date=createdAt}}
      <p class="meta"><span>{{meta.keywords}}</span></p>
      <img class="imageBloc" src="{{url}}">
      <p class=legende>{{#markdown}} {{legend}} {{/markdown}}</p>

      {{> my_notes}}

  {{/if}}

</template>
