<template name="ajoutTexte">
  <div class="form-group">
      <form>
        <textarea class="text" rows="4" placeholder="ajouter une transcription"></textarea>
          <input type="submit" id="validerTranscription" value="envoyer">
      </form>
  </div>

<select class="select-noms">
  <option selected>noms</option>
  <option value="roger">roger</option>
  <option value="bob">bob</option>
  <option value="jacquo">jacquo</option>
</select>

<select class="select-sujets">
  <option selected>sujets</option>
  <option value="choucroute">choucroute</option>
  <option value="canard">canard</option>
  <option value="poulet">poulet</option>
</select>

</template>
