<template name="addTexte">
<div id="text_{{_id}}" class="item">
    <form id="form_{{_id}}">
      <textarea class="textInput" rows="5" cols="40" name="content" placeHolder="Enter your text"></textarea>
      <input type="hidden" name="parent_id" value={{parent_id}}>
      <input type="hidden" name="type" value="text">
      <button class="addTexteNoteButton">Ajouter</button>
    </form>
  </div>
</template>





<template name="blockTexte">
  <div class="note texte">
    {{#markdown}}{{content}}{{/markdown}}
  </div>
  {{> my_notes}}
  {{> addNote _id=_id parent_id=_id}}
</template>


























<template name="ajoutTexteOLD">

  <select class="select-noms">
    <option selected>noms</option>
    <option value="Carole Brandon">Carole Brandon</option>
    <option value="Jean-jacques Gay">Jean-jacques Gay</option>
    <option value="Itzhak Golberg">Itzhak Golberg</option>
    <option value="Carole Nosella">Carole Nosella</option>
    <option value="Vincent Duché">Vincent Duché</option>
    <option value="Vincent Ciciliato">Vincent Ciciliato</option>
    <option value="David-Olivier Lartigaud">David-Olivier Lartigaud</option>
  </select>

  <select class="select-sujets">
    <option selected>sujets</option>
    <option value="modération">modération</option>
    <option value="intervention">intervention</option>
  </select>

  <select class="select-tags-texte">
    <option selected>mots-clés</option>
    <option value="design">design</option>
    <option value="architecture">architecture</option>
  </select>
  <br><br>
  <textarea class="pseudo" rows="2" cols="20" placeholder="pseudo"></textarea>

  <br><br>
  <!--<div id="summernote"></div>-->
  <textarea class="text-markdown" rows="8" cols="80"></textarea>

  <input type="submit" id="validerTranscription" value="envoyer la transcription">

</template>
