<template name="addTexte">



  <div id="text_{{_id}}" class="item">

    <form id="form_{{_id}}">
      <h4>TEXTE</h4>
      <textarea class="textInput" rows="10" cols="40" name="content" placeHolder="Entrez votre texte"></textarea>
      <input type="hidden" name="parent_id" value={{_id}}>
      <input type="hidden" name="type" value="text">
      <button class="addTexteNoteButton">Valider le texte</button>
    </form>
  </div>


</template>

<template name="blockTexte">
  {{> note_tools}}

  {{> date date=createdAt}}
  {{#if editing _id}}
  <div class="container-modifNote">
    <div class="item">
    <h4> modifier la note</h4>
  {{> formMeta}}

  <textarea id="new_value_for_{{_id}}" class="textInput" name="content">{{content}}</textarea>
  <button class="event_updateNoteButton">Valider</button>
  <button class="event_cancelEditNote">Annuler</button>
   </div>


  </div>
  {{else}}
    <p class="meta"><span>{{meta.keywords}}</span></p>
    <div class="note texte">
      {{#markdown}}{{content}}{{/markdown}}
    </div>

  {{/if}}
  {{> my_notes}}

</template>
