<template name="publication">
  <ul>
    {{#each publications}}

        {{#if typeIs "image" (type)}}
          {{> pubImage}}
        {{/if}}

        {{#if typeIs "text" (type)}}
          {{> pubText}}
        {{/if}}

        {{#if typeIs "dessin" (type)}}
          {{> pubDessin}}
        {{/if}}


    {{/each}}
  </ul>
</template>

<template name="pubText">
  <li>
    <p class="date">{{uToHours (date)}}:{{uToMinutes (date)}}</p>
    <span class="text">{{nom}} : </span>
    <span class="text">{{text}}</span>
  </li>

</template>

<template name="pubImage">
  <li>
    <p class="date">{{uToHours (date)}}:{{uToMinutes (date)}}</p>
    <img class="imageBloc" src="{{lien}}">
  </li>

</template>

<template name="pubDessin">
  <li>
    <p class="date">{{uToHours (date)}}:{{uToMinutes (date)}}</p>
    <img class="imageBloc" src="{{url}}">
  </li>

</template>
